{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-gray-800 font-medium text-3xl mb-4">Bonjour <span class="capitalize">{{ app.user.username }}</span> ! 👋</h1>
    <a href="{{ path('app_ticket') }}" class="fixed z-50 bottom-0 right-0 m-4">
        {% include ('components/button.html.twig') with {text: 'Ajouter un ticket', type: 'primary'} %}
    </a>
    <div class="rounded-md mb-4 p-4
            {{ total < 0 ? 'bg-red-100 text-red-800 border border-red-200' : 'rounded-md mb-4
            bg-teal-2 text-teal-950'}}
          ">
        <p>
            {% if total < 0 %}
                Vous devez <span id="total" class="font-bold">{{ total|abs }} €</span>
            {% else %}
                Remboursement de <span id="total" class="font-bold">{{ total }} €</span>
            {% endif %}
        </p>
    </div>

    {% if tickets %}
        <div class="rounded-md bg-teal-2 p-4 mb-4">
            <button id="show-delete" class="bg-teal-500 text-white px-4 py-2 rounded-md hover:bg-teal-600">Afficher les options de suppression</button>
        </div>
    {% endif %}

    <div class="bg-teal-2 rounded-md p-4 mb-4">
        <h2 class="text-gray-800 font-medium text-2xl mb-4">Mes tickets</h2>
        <div class="w-full text-gray-800">
            {% for ticket in tickets|sort((a, b) => b.createdAt <=> a.createdAt) %}
                <div class="tag relative flex items-center overflow-hidden bg-white hover:bg-gray-50 shadow-md rounded-md mb-4">
                    <div class="grid grid-cols-3 sm:grid-cols-5 px-4 py-2 justify-between items-center grow">
                        <div class="flex gap-2 items-center pr-2 py-1 truncate">
                            <span class="user-tag before:block before:content-[''] before:w-[3px] before:h-10" style="background-color: {{ ticket.user.color }};"></span>
                            {% set logo = storeLogos[ticket.title|lower] ?? null %}
                            {% if logo %}
                                <img src="{{ asset(logo|replace({'%kernel.project_dir%/': ''})) }}" alt="{{ ticket.title }}" class="h-8 w-8 object-contain">
                            {% else %}
                                <div>{{ ticket.title|capitalize }}</div>
                            {% endif %}
                        </div>
                        <div class="px-2 py-1 truncate">{{ ticket.amount }} €</div>
                        <div class="px-2 py-1 truncate">{{ ticket.createdAt|date('d/m/Y') }}</div>
                        <div class="hidden sm:block px-2 py-1 truncate">{{ ticket.user.username }}</div>
                    </div>
                    <button class="absolute z-20 right-0 top-0 bottom-0 bg-red-500 text-white px-4 py-2 transform translate-x-full transition-transform duration-300 ease-in-out delete-button" data-ticket-id="{{ ticket.id }}">
                        Supprimer
                    </button>
                    <a class="delete-slide absolute w-full h-full z-10" href="{{ path('app_get_ticket', {'ticket': ticket.id}) }}"></a>
                </div>
            {% endfor %}
        </div>

    </div>
    <style>
        .user-tag:before{
            background-color: var(--bg-color);
        }
    </style>


{% endblock %}
