{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-text-800 font-medium text-3xl mb-4">Bonjour <span class="capitalize">{{ app.user.username }}</span> ! 👋</h1>
    <a href="{{ path('app_ticket') }}" class="fixed bottom-0 right-0 m-4">
        {% include ('components/button.html.twig') with {text: 'Ajouter un ticket', type: 'primary'} %}
    </a>
    <div class="bubble-infos rounded-md mb-4
            {{ total < 0 ? 'bg-red-100 text-red-950 border-red-200' : 'bg-primary-200 text-teal-950'}}
          "
         >
        <p class="p-2">
            {% if total < 0 %}
                Vous devez <span id="total" class="font-bold">{{ total|abs }} €</span>
            {% else %}
                Remboursement de <span id="total" class="font-bold">{{ total }} €</span>
            {% endif %}
        </p>

    </div>
    <div class="rounded-md bg-primary-200 p-2 mb-4">
        {% if tickets %}
            {% include('components/button.html.twig') with {text: 'Supprimer', type: 'primary', id: 'show-delete'} %}
        {% endif %}
    </div>
    <div class="bg-primary-200 rounded-md py-2 pl-2 mb-4">
        <h2 class="text-text-800 font-medium text-2xl mb-4">Mes tickets</h2>
        <div class="w-full text-text-800">
            {% for ticket in tickets %}
                <div class="hover:bg-primary-300 cursor-pointer grid grid-cols-5 items-center relative" id="ticket-{{ ticket.id }}" data-url="{{ path('app_ticket', {'ticket': ticket.id}) }}">
                    <div class="gap-2 py-1 flex items-center truncate relative z-10" style="position: relative;">
                        <span class="user-tag before:block before:content-[''] before:w-[3px] before:h-10" style="--bg-color: {{ ticket.user.color }};"></span>
                        {{ ticket.title }}
                    </div>
                    <div class="px-2 py-1 truncate">{{ ticket.amount }} €</div>
                    <div class="px-2 py-1 truncate">{{ ticket.createdAt|date('d/m/Y') }}</div>
                    <div class="px-2 py-1 truncate">{{ ticket.user.username }}</div>
                    <div class="px-2 py-1 truncate z-20">
                        <button class="delete hidden animate-[wiggle_1s_ease-in-out_infinite]" data-ticket-id="{{ ticket.id }}">{% include ('@icons/trash.svg') %}</button>
                    </div>
                    <a class="absolute w-full h-full z-10" href="{{ path('app_get_ticket', {'ticket': ticket.id}) }}"></a>
                </div>
            {% endfor %}
        </div>
    </div>



    <style>
        .user-tag:before{
            background-color: var(--bg-color);
        }
    </style>

    <script>
        const deleteButtons = document.querySelectorAll('.delete');
        const showDelete = document.getElementById('show-delete');

        showDelete.addEventListener('click', () => {
            deleteButtons.forEach(button => {
                button.classList.toggle('hidden');
            });
        });

    </script>


{% endblock %}

