{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <a href="{{ path('app_ticket') }}">Ajouter un ticket</a>
    <h2>Mes tickets</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Utilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr id="ticket-{{ ticket.id }}">
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.amount }}</td>
                    <td>{{ ticket.createdAt|date('d/m/Y') }}</td>
                    <td>{{ ticket.user.username }}</td>
                    <td>
                        <a href="{{ path('app_ticket', {'ticket': ticket.id}) }}">Modifier</a>
                        <button class="delete" data-ticket-id="{{ ticket.id }}">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
    </table>
    <span>Différence: {{ total }}</span>
    <script>
        const deleteAction = (elements, callback) => {
            elements.forEach(button => {
                button.addEventListener('click', () => {
                    callback(button)
                });
            });
        }

        deleteAction(document.querySelectorAll('.delete'), (button) => {
            fetch('/ticket/' + button.dataset.ticketId, {
                method: 'DELETE',
            });
            document.getElementById('ticket-' + button.dataset.ticketId).remove();
            button.remove();
        })
    </script>
{% endblock %}
