{% extends 'base.html.twig' %}

{% block title %}Liste des foyers{% endblock %}

{% block body %}

    {% include('components/flash_message.html.twig') %}

    <div class="flex justify-between items-center mb-4">
        <a href="{{ path('app_admin_get_user') }}">
            {% include('components/button.html.twig') with {icon: 'arrow-left', type: 'primary'} %}
        </a>
        <h1 class="text-text-800 font-medium text-3xl">
            Liste des foyers
        </h1>
    </div>
    <div class="rounded-md py-2 pl-2 mb-4 w-full">

        <div class="bg-primary-200 grid grid-cols-4 items-center text-text-800 font-medium">
            <div class="px-2 py-1">Foyer ID</div>
            <div class="px-2 py-1">Jour Cron</div>
        </div>
        {% for home in homes %}
            {% set class = (loop.index0) is even ? 'bg-teal-2' : 'even' %}

            <div class="{{ class }} hover:bg-primary-300 cursor-pointer grid grid-cols-4 items-center relative ">

                <div class="px-2 py-1 truncate ">{{ home.id }}</div>
                <div class="px-2 py-1 truncate">{{ home.cronday }}</div>
                <a class="absolute w-full h-full z-10" href="{{ path('app_admin_set_home', { home: home.id }) }}"></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
